
@import 
url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
   }

   .main-wrapper {
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
  }

  .logo-wrapper {
    width: 100%;
  }
  

.logo-wrapper .logo{
    width: 100px;
    margin: 0 auto;
    display: block;    
}

.mail-title{
    text-align: center;
    padding: 0 30px;
}

.mail-body {
    background-color: #f8f8ff;
    font-weight: 300;
    margin-bottom: 40px;
    padding: 30px;
    text-align: justify;
  }

  .mail-body p {
    margin: 0;
  }

  .mail-body .link {
    color: #b50efd;
    font-weight: 500;
    margin: 15px 0;
    display: inline-block;
  }


  .mail-footer {
    font-weight: 300;
    padding: 0 30px 30px;
  }






